<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DynaMed Store</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="pricing.css" rel="stylesheet">
  </head>

  <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">EBSCO Health</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Features</a>
        <a class="p-2 text-dark" href="#">Enterprise</a>
        <a class="p-2 text-dark" href="#">Support</a>
        <a class="p-2 text-dark" href="#">Pricing</a>
      </nav>
    </div>

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Subscribe to DynaMed</h1>
      <p class="lead">Improve patient care with the fastest and most evidence-based clinical support tool on the market.</p>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">DynaMed Classic</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$299 <small class="text-muted">/ year</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <p>Start off on the right foot with the most concise, evidence-based clinical tool available. DynaMed Classic is great for Students, Residents, and Fellows.</p>
            </ul>
            <a href="/signup?plan=plan_DXvEiCY575aBPD" class="btn btn-lg btn-block btn-outline-primary">Subscribe Now</a>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">DynaMed Plus</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$399 <small class="text-muted">/ year</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <p>Improve patient care with the fastest and most evidence-based clinical support tool on the market, and earn CME credit in the process.</p>
            </ul>
            <a href="/signup?plan=plan_DXvDYbrfv6weRz" class="btn btn-lg btn-block btn-outline-primary">Subscribe Now</a>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">DynaMed Premier</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$499 <small class="text-muted">/ year</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <p>The ultimate evidence-based clinical point of care tool on the market, plus real-time clinical decision support tools. It's the greatest!</p>
            </ul>
            <a href="/signup?plan=plan_DXvD9g8PwyxTMk" class="btn btn-lg btn-block btn-outline-primary">Subscribe Now</a>
          </div>
        </div>
      </div>

      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <p>EBSCO Health</p>
            <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Cool stuff</a></li>
              <li><a class="text-muted" href="#">Random feature</a></li>
              <li><a class="text-muted" href="#">Team feature</a></li>
              <li><a class="text-muted" href="#">Stuff for developers</a></li>
              <li><a class="text-muted" href="#">Another one</a></li>
              <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Resource</a></li>
              <li><a class="text-muted" href="#">Resource name</a></li>
              <li><a class="text-muted" href="#">Another resource</a></li>
              <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Team</a></li>
              <li><a class="text-muted" href="#">Locations</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/lodash.js"></script>
    <script type="text/javascript" src="/js/axios.js"></script>
    <script type="text/javascript" src="/js/vue.js"></script>
  
    <script type="text/javascript" src="/js/index.js"></script>
  </body>
</html>
