<!DOCTYPE html>
<html>
<head>
<title>Manage Subscription</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

	<section>
    <div id="app">
      <h1>My Account</h1>
      <p>Email: <$= email $></p>
      <p>Purchased subscription: <$= nickname $></p>
      <p>Subscription ID: <$= subscriptionId $></p>
    </div>
  </section>
  <section>
    <h2>Invoices</h2>
    <p><$= invoiceText $></p>
  </section>
  <section>
    <a href="/logout">Log out</a>
  </section>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
  <script type="text/javascript" src="/js/lodash.js"></script>
  <script type="text/javascript" src="/js/axios.js"></script>
  <script type="text/javascript" src="/js/vue.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v3/"></script>

  <script type="text/javascript" src="/js/manage.js"></script>

</body>
</html>